.add-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  flex-shrink: 0;
}

.add-icon-button__svg {
  display: block;
  width: 40px;
  height: 40px;
}
